IntegraBilbaoPark/integraMobile.ExternalWS/Web References/EysaThirdPartyParkWS/tarifas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="rdPQueryTariff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idContrata" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPQueryTariffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rdPQueryTariffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsolaSoapHeader" type="tns:ConsolaSoapHeader" />
      <s:complexType name="ConsolaSoapHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdContrata" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="NomUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumSerie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="rdPQueryParkingOperationWithTimeSteps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="rdPQueryParkingOperationWithTimeStepsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rdPQueryParkingOperationWithTimeStepsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="rdPQueryTariffSoapIn">
    <wsdl:part name="parameters" element="tns:rdPQueryTariff" />
  </wsdl:message>
  <wsdl:message name="rdPQueryTariffSoapOut">
    <wsdl:part name="parameters" element="tns:rdPQueryTariffResponse" />
  </wsdl:message>
  <wsdl:message name="rdPQueryTariffConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:message name="rdPQueryParkingOperationWithTimeStepsSoapIn">
    <wsdl:part name="parameters" element="tns:rdPQueryParkingOperationWithTimeSteps" />
  </wsdl:message>
  <wsdl:message name="rdPQueryParkingOperationWithTimeStepsSoapOut">
    <wsdl:part name="parameters" element="tns:rdPQueryParkingOperationWithTimeStepsResponse" />
  </wsdl:message>
  <wsdl:message name="rdPQueryParkingOperationWithTimeStepsConsolaSoapHeader">
    <wsdl:part name="ConsolaSoapHeader" element="tns:ConsolaSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="TarifasSoap">
    <wsdl:operation name="rdPQueryTariff">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Obtiene el sistema tarifario de la contrata</documentation>
      <wsdl:input message="tns:rdPQueryTariffSoapIn" />
      <wsdl:output message="tns:rdPQueryTariffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="rdPQueryParkingOperationWithTimeSteps">
      <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Obtiene las tarifas paso a paso</documentation>
      <wsdl:input message="tns:rdPQueryParkingOperationWithTimeStepsSoapIn" />
      <wsdl:output message="tns:rdPQueryParkingOperationWithTimeStepsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TarifasSoap" type="tns:TarifasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="rdPQueryTariff">
      <soap:operation soapAction="http://tempuri.org/rdPQueryTariff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:rdPQueryTariffConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rdPQueryParkingOperationWithTimeSteps">
      <soap:operation soapAction="http://tempuri.org/rdPQueryParkingOperationWithTimeSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:rdPQueryParkingOperationWithTimeStepsConsolaSoapHeader" part="ConsolaSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tarifas">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/" />
    <wsdl:port name="TarifasSoap" binding="tns:TarifasSoap">
      <soap:address location="https://eysaIP.eysanet.com/parquimetrosWS/framework/tarifas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>