IntegraBilbaoPark/integraMobile.ExternalWS/Web References/StandardParkingWS/TariffComputer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryParkingOperation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParkingOperationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParkingOperationJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithTimeSteps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithTimeStepsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParkingOperationWithTimeStepsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithTimeStepsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithTimeStepsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParkingOperationWithTimeStepsJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithAmountSteps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithAmountStepsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParkingOperationWithAmountStepsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithAmountStepsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParkingOperationWithAmountStepsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParkingOperationWithAmountStepsJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUnParkingOperation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUnParkingOperationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryUnParkingOperationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUnParkingOperationJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryUnParkingOperationJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryUnParkingOperationJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationInstallationTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationInstallationTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalParkingOperationInstallationTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationInstallationTimeJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationInstallationTimeJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalParkingOperationInstallationTimeJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationUTCTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationUTCTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalParkingOperationUTCTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationUTCTimeJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationUTCTimeJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalParkingOperationUTCTimeJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationInstallationTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationInstallationTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalUnParkingOperationInstallationTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationInstallationTimeJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationInstallationTimeJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalUnParkingOperationInstallationTimeJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationUTCTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationUTCTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalUnParkingOperationUTCTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationUTCTimeJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalUnParkingOperationUTCTimeJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalUnParkingOperationUTCTimeJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationGtechna">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationGtechnaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalParkingOperationGtechnaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationGtechnaJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertExternalParkingOperationGtechnaJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertExternalParkingOperationGtechnaJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryParkingOperationSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParkingOperation" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationJSON" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithTimeSteps" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithTimeStepsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithTimeStepsJSON" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithTimeStepsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithAmountSteps" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithAmountStepsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithAmountStepsJSON" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParkingOperationWithAmountStepsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationSoapIn">
    <wsdl:part name="parameters" element="tns:QueryUnParkingOperation" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationSoapOut">
    <wsdl:part name="parameters" element="tns:QueryUnParkingOperationResponse" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationJSONSoapIn">
    <wsdl:part name="parameters" element="tns:QueryUnParkingOperationJSON" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationJSONSoapOut">
    <wsdl:part name="parameters" element="tns:QueryUnParkingOperationJSONResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationInstallationTime" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationInstallationTimeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeJSONSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationInstallationTimeJSON" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeJSONSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationInstallationTimeJSONResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationUTCTime" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationUTCTimeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeJSONSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationUTCTimeJSON" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeJSONSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationUTCTimeJSONResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationInstallationTime" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationInstallationTimeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeJSONSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationInstallationTimeJSON" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeJSONSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationInstallationTimeJSONResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationUTCTime" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationUTCTimeResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeJSONSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationUTCTimeJSON" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeJSONSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalUnParkingOperationUTCTimeJSONResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationGtechna" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationGtechnaResponse" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaJSONSoapIn">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationGtechnaJSON" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaJSONSoapOut">
    <wsdl:part name="parameters" element="tns:InsertExternalParkingOperationGtechnaJSONResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithTimeStepsJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryParkingOperationWithAmountStepsJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="QueryUnParkingOperationJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationInstallationTimeJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationUTCTimeJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationInstallationTimeJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalUnParkingOperationUTCTimeJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertExternalParkingOperationGtechnaJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TariffComputerWSSoap">
    <wsdl:operation name="QueryParkingOperation">
      <wsdl:input message="tns:QueryParkingOperationSoapIn" />
      <wsdl:output message="tns:QueryParkingOperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <wsdl:input message="tns:QueryParkingOperationJSONSoapIn" />
      <wsdl:output message="tns:QueryParkingOperationJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <wsdl:input message="tns:QueryParkingOperationWithTimeStepsSoapIn" />
      <wsdl:output message="tns:QueryParkingOperationWithTimeStepsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <wsdl:input message="tns:QueryParkingOperationWithTimeStepsJSONSoapIn" />
      <wsdl:output message="tns:QueryParkingOperationWithTimeStepsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <wsdl:input message="tns:QueryParkingOperationWithAmountStepsSoapIn" />
      <wsdl:output message="tns:QueryParkingOperationWithAmountStepsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <wsdl:input message="tns:QueryParkingOperationWithAmountStepsJSONSoapIn" />
      <wsdl:output message="tns:QueryParkingOperationWithAmountStepsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <wsdl:input message="tns:QueryUnParkingOperationSoapIn" />
      <wsdl:output message="tns:QueryUnParkingOperationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <wsdl:input message="tns:QueryUnParkingOperationJSONSoapIn" />
      <wsdl:output message="tns:QueryUnParkingOperationJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <wsdl:input message="tns:InsertExternalParkingOperationInstallationTimeSoapIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationInstallationTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationInstallationTimeJSONSoapIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationInstallationTimeJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <wsdl:input message="tns:InsertExternalParkingOperationUTCTimeSoapIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationUTCTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationUTCTimeJSONSoapIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationUTCTimeJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <wsdl:input message="tns:InsertExternalUnParkingOperationInstallationTimeSoapIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationInstallationTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <wsdl:input message="tns:InsertExternalUnParkingOperationInstallationTimeJSONSoapIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationInstallationTimeJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <wsdl:input message="tns:InsertExternalUnParkingOperationUTCTimeSoapIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationUTCTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <wsdl:input message="tns:InsertExternalUnParkingOperationUTCTimeJSONSoapIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationUTCTimeJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <wsdl:input message="tns:InsertExternalParkingOperationGtechnaSoapIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationGtechnaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationGtechnaJSONSoapIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationGtechnaJSONSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TariffComputerWSHttpGet">
    <wsdl:operation name="QueryParkingOperation">
      <wsdl:input message="tns:QueryParkingOperationHttpGetIn" />
      <wsdl:output message="tns:QueryParkingOperationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <wsdl:input message="tns:QueryParkingOperationJSONHttpGetIn" />
      <wsdl:output message="tns:QueryParkingOperationJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <wsdl:input message="tns:QueryParkingOperationWithTimeStepsHttpGetIn" />
      <wsdl:output message="tns:QueryParkingOperationWithTimeStepsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <wsdl:input message="tns:QueryParkingOperationWithTimeStepsJSONHttpGetIn" />
      <wsdl:output message="tns:QueryParkingOperationWithTimeStepsJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <wsdl:input message="tns:QueryParkingOperationWithAmountStepsHttpGetIn" />
      <wsdl:output message="tns:QueryParkingOperationWithAmountStepsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <wsdl:input message="tns:QueryParkingOperationWithAmountStepsJSONHttpGetIn" />
      <wsdl:output message="tns:QueryParkingOperationWithAmountStepsJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <wsdl:input message="tns:QueryUnParkingOperationHttpGetIn" />
      <wsdl:output message="tns:QueryUnParkingOperationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <wsdl:input message="tns:QueryUnParkingOperationJSONHttpGetIn" />
      <wsdl:output message="tns:QueryUnParkingOperationJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <wsdl:input message="tns:InsertExternalParkingOperationInstallationTimeHttpGetIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationInstallationTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationInstallationTimeJSONHttpGetIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationInstallationTimeJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <wsdl:input message="tns:InsertExternalParkingOperationUTCTimeHttpGetIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationUTCTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationUTCTimeJSONHttpGetIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationUTCTimeJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <wsdl:input message="tns:InsertExternalUnParkingOperationInstallationTimeHttpGetIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationInstallationTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <wsdl:input message="tns:InsertExternalUnParkingOperationInstallationTimeJSONHttpGetIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationInstallationTimeJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <wsdl:input message="tns:InsertExternalUnParkingOperationUTCTimeHttpGetIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationUTCTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <wsdl:input message="tns:InsertExternalUnParkingOperationUTCTimeJSONHttpGetIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationUTCTimeJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <wsdl:input message="tns:InsertExternalParkingOperationGtechnaHttpGetIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationGtechnaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationGtechnaJSONHttpGetIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationGtechnaJSONHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TariffComputerWSHttpPost">
    <wsdl:operation name="QueryParkingOperation">
      <wsdl:input message="tns:QueryParkingOperationHttpPostIn" />
      <wsdl:output message="tns:QueryParkingOperationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <wsdl:input message="tns:QueryParkingOperationJSONHttpPostIn" />
      <wsdl:output message="tns:QueryParkingOperationJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <wsdl:input message="tns:QueryParkingOperationWithTimeStepsHttpPostIn" />
      <wsdl:output message="tns:QueryParkingOperationWithTimeStepsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <wsdl:input message="tns:QueryParkingOperationWithTimeStepsJSONHttpPostIn" />
      <wsdl:output message="tns:QueryParkingOperationWithTimeStepsJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <wsdl:input message="tns:QueryParkingOperationWithAmountStepsHttpPostIn" />
      <wsdl:output message="tns:QueryParkingOperationWithAmountStepsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <wsdl:input message="tns:QueryParkingOperationWithAmountStepsJSONHttpPostIn" />
      <wsdl:output message="tns:QueryParkingOperationWithAmountStepsJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <wsdl:input message="tns:QueryUnParkingOperationHttpPostIn" />
      <wsdl:output message="tns:QueryUnParkingOperationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <wsdl:input message="tns:QueryUnParkingOperationJSONHttpPostIn" />
      <wsdl:output message="tns:QueryUnParkingOperationJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <wsdl:input message="tns:InsertExternalParkingOperationInstallationTimeHttpPostIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationInstallationTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationInstallationTimeJSONHttpPostIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationInstallationTimeJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <wsdl:input message="tns:InsertExternalParkingOperationUTCTimeHttpPostIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationUTCTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationUTCTimeJSONHttpPostIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationUTCTimeJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <wsdl:input message="tns:InsertExternalUnParkingOperationInstallationTimeHttpPostIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationInstallationTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <wsdl:input message="tns:InsertExternalUnParkingOperationInstallationTimeJSONHttpPostIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationInstallationTimeJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <wsdl:input message="tns:InsertExternalUnParkingOperationUTCTimeHttpPostIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationUTCTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <wsdl:input message="tns:InsertExternalUnParkingOperationUTCTimeJSONHttpPostIn" />
      <wsdl:output message="tns:InsertExternalUnParkingOperationUTCTimeJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <wsdl:input message="tns:InsertExternalParkingOperationGtechnaHttpPostIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationGtechnaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <wsdl:input message="tns:InsertExternalParkingOperationGtechnaJSONHttpPostIn" />
      <wsdl:output message="tns:InsertExternalParkingOperationGtechnaJSONHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TariffComputerWSSoap" type="tns:TariffComputerWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryParkingOperation">
      <soap:operation soapAction="http://tempuri.org/QueryParkingOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <soap:operation soapAction="http://tempuri.org/QueryParkingOperationJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <soap:operation soapAction="http://tempuri.org/QueryParkingOperationWithTimeSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <soap:operation soapAction="http://tempuri.org/QueryParkingOperationWithTimeStepsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <soap:operation soapAction="http://tempuri.org/QueryParkingOperationWithAmountSteps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <soap:operation soapAction="http://tempuri.org/QueryParkingOperationWithAmountStepsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <soap:operation soapAction="http://tempuri.org/QueryUnParkingOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <soap:operation soapAction="http://tempuri.org/QueryUnParkingOperationJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <soap:operation soapAction="http://tempuri.org/InsertExternalParkingOperationInstallationTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <soap:operation soapAction="http://tempuri.org/InsertExternalParkingOperationInstallationTimeJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <soap:operation soapAction="http://tempuri.org/InsertExternalParkingOperationUTCTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <soap:operation soapAction="http://tempuri.org/InsertExternalParkingOperationUTCTimeJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <soap:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationInstallationTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <soap:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationInstallationTimeJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <soap:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationUTCTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <soap:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationUTCTimeJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <soap:operation soapAction="http://tempuri.org/InsertExternalParkingOperationGtechna" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <soap:operation soapAction="http://tempuri.org/InsertExternalParkingOperationGtechnaJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TariffComputerWSSoap12" type="tns:TariffComputerWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryParkingOperation">
      <soap12:operation soapAction="http://tempuri.org/QueryParkingOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <soap12:operation soapAction="http://tempuri.org/QueryParkingOperationJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <soap12:operation soapAction="http://tempuri.org/QueryParkingOperationWithTimeSteps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <soap12:operation soapAction="http://tempuri.org/QueryParkingOperationWithTimeStepsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <soap12:operation soapAction="http://tempuri.org/QueryParkingOperationWithAmountSteps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <soap12:operation soapAction="http://tempuri.org/QueryParkingOperationWithAmountStepsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <soap12:operation soapAction="http://tempuri.org/QueryUnParkingOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <soap12:operation soapAction="http://tempuri.org/QueryUnParkingOperationJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalParkingOperationInstallationTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalParkingOperationInstallationTimeJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalParkingOperationUTCTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalParkingOperationUTCTimeJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationInstallationTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationInstallationTimeJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationUTCTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalUnParkingOperationUTCTimeJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalParkingOperationGtechna" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <soap12:operation soapAction="http://tempuri.org/InsertExternalParkingOperationGtechnaJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TariffComputerWSHttpGet" type="tns:TariffComputerWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="QueryParkingOperation">
      <http:operation location="/QueryParkingOperation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <http:operation location="/QueryParkingOperationJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <http:operation location="/QueryParkingOperationWithTimeSteps" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <http:operation location="/QueryParkingOperationWithTimeStepsJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <http:operation location="/QueryParkingOperationWithAmountSteps" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <http:operation location="/QueryParkingOperationWithAmountStepsJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <http:operation location="/QueryUnParkingOperation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <http:operation location="/QueryUnParkingOperationJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <http:operation location="/InsertExternalParkingOperationInstallationTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <http:operation location="/InsertExternalParkingOperationInstallationTimeJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <http:operation location="/InsertExternalParkingOperationUTCTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <http:operation location="/InsertExternalParkingOperationUTCTimeJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <http:operation location="/InsertExternalUnParkingOperationInstallationTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <http:operation location="/InsertExternalUnParkingOperationInstallationTimeJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <http:operation location="/InsertExternalUnParkingOperationUTCTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <http:operation location="/InsertExternalUnParkingOperationUTCTimeJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <http:operation location="/InsertExternalParkingOperationGtechna" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <http:operation location="/InsertExternalParkingOperationGtechnaJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TariffComputerWSHttpPost" type="tns:TariffComputerWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="QueryParkingOperation">
      <http:operation location="/QueryParkingOperation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationJSON">
      <http:operation location="/QueryParkingOperationJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeSteps">
      <http:operation location="/QueryParkingOperationWithTimeSteps" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithTimeStepsJSON">
      <http:operation location="/QueryParkingOperationWithTimeStepsJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountSteps">
      <http:operation location="/QueryParkingOperationWithAmountSteps" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParkingOperationWithAmountStepsJSON">
      <http:operation location="/QueryParkingOperationWithAmountStepsJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperation">
      <http:operation location="/QueryUnParkingOperation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryUnParkingOperationJSON">
      <http:operation location="/QueryUnParkingOperationJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTime">
      <http:operation location="/InsertExternalParkingOperationInstallationTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationInstallationTimeJSON">
      <http:operation location="/InsertExternalParkingOperationInstallationTimeJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTime">
      <http:operation location="/InsertExternalParkingOperationUTCTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationUTCTimeJSON">
      <http:operation location="/InsertExternalParkingOperationUTCTimeJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTime">
      <http:operation location="/InsertExternalUnParkingOperationInstallationTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationInstallationTimeJSON">
      <http:operation location="/InsertExternalUnParkingOperationInstallationTimeJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTime">
      <http:operation location="/InsertExternalUnParkingOperationUTCTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalUnParkingOperationUTCTimeJSON">
      <http:operation location="/InsertExternalUnParkingOperationUTCTimeJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechna">
      <http:operation location="/InsertExternalParkingOperationGtechna" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertExternalParkingOperationGtechnaJSON">
      <http:operation location="/InsertExternalParkingOperationGtechnaJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TariffComputerWS">
    <wsdl:port name="TariffComputerWSSoap" binding="tns:TariffComputerWSSoap">
      <soap:address location="http://localhost:41858/TariffComputer.asmx" />
    </wsdl:port>
    <wsdl:port name="TariffComputerWSSoap12" binding="tns:TariffComputerWSSoap12">
      <soap12:address location="http://localhost:41858/TariffComputer.asmx" />
    </wsdl:port>
    <wsdl:port name="TariffComputerWSHttpGet" binding="tns:TariffComputerWSHttpGet">
      <http:address location="http://localhost:41858/TariffComputer.asmx" />
    </wsdl:port>
    <wsdl:port name="TariffComputerWSHttpPost" binding="tns:TariffComputerWSHttpPost">
      <http:address location="http://localhost:41858/TariffComputer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>