IntegraBilbaoPark/integraMobileBilbao.WS/TestExternalWebServices/Web References/com.eysamobile.www/integraExternalServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NotifyPlateFine">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateFineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyPlateFineResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateFineJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateFineJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyPlateFineJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateParking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateParkingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyPlateParkingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateParkingJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonIn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyPlateParkingJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotifyPlateParkingJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPushWPNotificationsTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strToastText1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strToastText2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strToastParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTileTitle" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="iTileCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strBackgroundImage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPushWPNotificationsToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPushWPNotificationsToResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPushAndroidNotificationsTo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strAndroidRawData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPushAndroidNotificationsToResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPushAndroidNotificationsToResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifyPlateFineSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyPlateFine" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyPlateFineResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineJSONSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyPlateFineJSON" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineJSONSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyPlateFineJSONResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyPlateParking" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyPlateParkingResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingJSONSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyPlateParkingJSON" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingJSONSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyPlateParkingJSONResponse" />
  </wsdl:message>
  <wsdl:message name="SendPushWPNotificationsToSoapIn">
    <wsdl:part name="parameters" element="tns:SendPushWPNotificationsTo" />
  </wsdl:message>
  <wsdl:message name="SendPushWPNotificationsToSoapOut">
    <wsdl:part name="parameters" element="tns:SendPushWPNotificationsToResponse" />
  </wsdl:message>
  <wsdl:message name="SendPushAndroidNotificationsToSoapIn">
    <wsdl:part name="parameters" element="tns:SendPushAndroidNotificationsTo" />
  </wsdl:message>
  <wsdl:message name="SendPushAndroidNotificationsToSoapOut">
    <wsdl:part name="parameters" element="tns:SendPushAndroidNotificationsToResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingHttpGetIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingJSONHttpGetIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingJSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendPushWPNotificationsToHttpGetIn">
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strToastText1" type="s:string" />
    <wsdl:part name="strToastText2" type="s:string" />
    <wsdl:part name="strToastParam" type="s:string" />
    <wsdl:part name="strTileTitle" type="s:string" />
    <wsdl:part name="iTileCount" type="s:string" />
    <wsdl:part name="strBackgroundImage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPushWPNotificationsToHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SendPushAndroidNotificationsToHttpGetIn">
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strAndroidRawData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPushAndroidNotificationsToHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateFineJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingHttpPostIn">
    <wsdl:part name="xmlIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingJSONHttpPostIn">
    <wsdl:part name="jsonIn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="NotifyPlateParkingJSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendPushWPNotificationsToHttpPostIn">
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strToastText1" type="s:string" />
    <wsdl:part name="strToastText2" type="s:string" />
    <wsdl:part name="strToastParam" type="s:string" />
    <wsdl:part name="strTileTitle" type="s:string" />
    <wsdl:part name="iTileCount" type="s:string" />
    <wsdl:part name="strBackgroundImage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPushWPNotificationsToHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="SendPushAndroidNotificationsToHttpPostIn">
    <wsdl:part name="strUser" type="s:string" />
    <wsdl:part name="strAndroidRawData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPushAndroidNotificationsToHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="integraExternalServicesSoap">
    <wsdl:operation name="NotifyPlateFine">
      <wsdl:input message="tns:NotifyPlateFineSoapIn" />
      <wsdl:output message="tns:NotifyPlateFineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <wsdl:input message="tns:NotifyPlateFineJSONSoapIn" />
      <wsdl:output message="tns:NotifyPlateFineJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <wsdl:input message="tns:NotifyPlateParkingSoapIn" />
      <wsdl:output message="tns:NotifyPlateParkingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <wsdl:input message="tns:NotifyPlateParkingJSONSoapIn" />
      <wsdl:output message="tns:NotifyPlateParkingJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <wsdl:input message="tns:SendPushWPNotificationsToSoapIn" />
      <wsdl:output message="tns:SendPushWPNotificationsToSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <wsdl:input message="tns:SendPushAndroidNotificationsToSoapIn" />
      <wsdl:output message="tns:SendPushAndroidNotificationsToSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="integraExternalServicesHttpGet">
    <wsdl:operation name="NotifyPlateFine">
      <wsdl:input message="tns:NotifyPlateFineHttpGetIn" />
      <wsdl:output message="tns:NotifyPlateFineHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <wsdl:input message="tns:NotifyPlateFineJSONHttpGetIn" />
      <wsdl:output message="tns:NotifyPlateFineJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <wsdl:input message="tns:NotifyPlateParkingHttpGetIn" />
      <wsdl:output message="tns:NotifyPlateParkingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <wsdl:input message="tns:NotifyPlateParkingJSONHttpGetIn" />
      <wsdl:output message="tns:NotifyPlateParkingJSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <wsdl:input message="tns:SendPushWPNotificationsToHttpGetIn" />
      <wsdl:output message="tns:SendPushWPNotificationsToHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <wsdl:input message="tns:SendPushAndroidNotificationsToHttpGetIn" />
      <wsdl:output message="tns:SendPushAndroidNotificationsToHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="integraExternalServicesHttpPost">
    <wsdl:operation name="NotifyPlateFine">
      <wsdl:input message="tns:NotifyPlateFineHttpPostIn" />
      <wsdl:output message="tns:NotifyPlateFineHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <wsdl:input message="tns:NotifyPlateFineJSONHttpPostIn" />
      <wsdl:output message="tns:NotifyPlateFineJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <wsdl:input message="tns:NotifyPlateParkingHttpPostIn" />
      <wsdl:output message="tns:NotifyPlateParkingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <wsdl:input message="tns:NotifyPlateParkingJSONHttpPostIn" />
      <wsdl:output message="tns:NotifyPlateParkingJSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <wsdl:input message="tns:SendPushWPNotificationsToHttpPostIn" />
      <wsdl:output message="tns:SendPushWPNotificationsToHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <wsdl:input message="tns:SendPushAndroidNotificationsToHttpPostIn" />
      <wsdl:output message="tns:SendPushAndroidNotificationsToHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="integraExternalServicesSoap" type="tns:integraExternalServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyPlateFine">
      <soap:operation soapAction="http://tempuri.org/NotifyPlateFine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <soap:operation soapAction="http://tempuri.org/NotifyPlateFineJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <soap:operation soapAction="http://tempuri.org/NotifyPlateParking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <soap:operation soapAction="http://tempuri.org/NotifyPlateParkingJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <soap:operation soapAction="http://tempuri.org/SendPushWPNotificationsTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <soap:operation soapAction="http://tempuri.org/SendPushAndroidNotificationsTo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="integraExternalServicesSoap12" type="tns:integraExternalServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyPlateFine">
      <soap12:operation soapAction="http://tempuri.org/NotifyPlateFine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <soap12:operation soapAction="http://tempuri.org/NotifyPlateFineJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <soap12:operation soapAction="http://tempuri.org/NotifyPlateParking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <soap12:operation soapAction="http://tempuri.org/NotifyPlateParkingJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <soap12:operation soapAction="http://tempuri.org/SendPushWPNotificationsTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <soap12:operation soapAction="http://tempuri.org/SendPushAndroidNotificationsTo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="integraExternalServicesHttpGet" type="tns:integraExternalServicesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="NotifyPlateFine">
      <http:operation location="/NotifyPlateFine" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <http:operation location="/NotifyPlateFineJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <http:operation location="/NotifyPlateParking" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <http:operation location="/NotifyPlateParkingJSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <http:operation location="/SendPushWPNotificationsTo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <http:operation location="/SendPushAndroidNotificationsTo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="integraExternalServicesHttpPost" type="tns:integraExternalServicesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="NotifyPlateFine">
      <http:operation location="/NotifyPlateFine" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateFineJSON">
      <http:operation location="/NotifyPlateFineJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParking">
      <http:operation location="/NotifyPlateParking" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlateParkingJSON">
      <http:operation location="/NotifyPlateParkingJSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushWPNotificationsTo">
      <http:operation location="/SendPushWPNotificationsTo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPushAndroidNotificationsTo">
      <http:operation location="/SendPushAndroidNotificationsTo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="integraExternalServices">
    <wsdl:port name="integraExternalServicesSoap" binding="tns:integraExternalServicesSoap">
      <soap:address location="http://www.eysamobile.com/integraMobileWS/integraExternalServices.asmx" />
    </wsdl:port>
    <wsdl:port name="integraExternalServicesSoap12" binding="tns:integraExternalServicesSoap12">
      <soap12:address location="http://www.eysamobile.com/integraMobileWS/integraExternalServices.asmx" />
    </wsdl:port>
    <wsdl:port name="integraExternalServicesHttpGet" binding="tns:integraExternalServicesHttpGet">
      <http:address location="http://www.eysamobile.com/integraMobileWS/integraExternalServices.asmx" />
    </wsdl:port>
    <wsdl:port name="integraExternalServicesHttpPost" binding="tns:integraExternalServicesHttpPost">
      <http:address location="http://www.eysamobile.com/integraMobileWS/integraExternalServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>